/*#intro.color .container-fluid {
  background: #5D815B;
}*/

#intro.bg-image .container-fluid {
  background-image: url('../img/unsplash/bike-mtn.jpg');
  background-size: cover;
}

#shop .half.bg {
  background-image: url('../img/storefront.jpg');
  background-size: cover;
}

#services .half.bg {
  background-image: url('../img/services.jpg');
  background-size: cover;
}

#gear .half.bg {
  background-image: url('../img/gear.jpg');
  background-size: cover;
}

#bikes .half.bg {
  background-image: url('../img/bikes.jpg');
  background-size: cover;
}
